body {
  background-color: rgb(139, 233, 233);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 100px;
  margin: 0 auto;
  padding-top: 30px;
  gap: 5px;
}

.container2 {
  text-align: center;
  width: 200px;
  margin: 20px auto;
  padding: 5px;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

li p {
  font-size: 20px;
}

img {
  width: 200px;
  height: 200px;
}

#id {
  font-size: 30px;
}

#name {
  font-size: 30px;
}