body {
  background-color: rgb(139, 233, 233);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 100px;
  margin: 0 auto;
  padding-top: 30px;
  gap: 5px;
}

.Home {
  background-color: rgb(68, 183, 183);
  border: 3px solid rgb(28, 112, 112);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 0 20px;
}

.Home:hover {
  background-color: rgb(28, 112, 112);
  border: 3px solid rgb(68, 183, 183);
}

.container2 {
  text-align: center;
  width: 200px;
  margin: 20px auto;
  padding: 5px;
}

#id {
  font-size: 30px;
}

#name {
  font-size: 30px;
}

li p {
  font-size: 20px;
}